body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-image: url(./images/jpg/jack-b-o7Ckg7h66ls-unsplash.jpg); */
    background-color: #eef4ed;
}

