.rivers-container {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;

  header {
    padding: 0;
    margin: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-of-type(1) {
      width: auto;
      // background-color: cadetblue;

      display: flex;
      justify-content: center;
      align-items: center;

      input {
        height: 37px;
        width: 200px;
        margin: 1rem;
        padding: 1rem;

        border-radius: 6px;
      }

      div {
        height: 37px;
        width: 40px;

        cursor: pointer;
        transition: all ease-in-out 0.2s;

        border: 1px solid white;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.6);

        img {
          height: 90%;
          width: 90%;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
}

.riverspagination-container {
  padding: 2rem;

  .pagination {
    height: 40px;
    display: flex;
    margin: 2.5rem 1rem;
    justify-content: center;
    align-items: center;

    li {
      height: 100%;
      width: 30px;
      margin: 0 0.25rem;
      list-style: none;
      a {
        height: 100%;
        width: 100%;
        padding: 0.8rem;

        color: white;
        font-size: 1.5rem;
        font-weight: 400;

        border: 0.5px solid rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          font-size: 1.6rem;
          font-weight: 600;
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    .previous,
    .next {
      width: 60px;
      a {
        margin: 0 0.5rem;
        border: none;
        background-color: none;
      }
    }
    .active {
      text-shadow: 2px 2px 4px black, -2px 2px 4px black;
      font-weight: 800;
      background-color: rgba(46, 139, 86, 0.25);
    }
  }
}

.riverpage-container {
  height: 100%;
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  header {
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-of-type(1) {
      h1 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
          -2px 2px 4px rgba(0, 0, 0, 0.8);
      }
      h4 {
        padding: 1rem;
      }
    }
    div:nth-of-type(2) {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      button {
        height: 35px;
        width: 120px;
        margin-right: 1rem;

        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 400;
        border: 2px solid white;
        border-radius: 6px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
          -2px 2px 5px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.3);
        background-color: rgba(252, 252, 252, 0.7);
        transition: all ease-in-out 0.4s;

        &:hover {
          color: white;
          // font-size: 1.4rem;
          // font-weight: 600;
          background-color: rgba(252, 252, 252, 0.25);
        }
      }
    }
  }
  section {
    height: auto;
    width: 100%;
    padding: 2rem;

    // background-color: salmon;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-container {
    width: 95%;
    height: 300px;
    margin: 1rem;
    border-radius: 6px;
    overflow: hidden;
    // position: relative;

    .leaflet-container {
      width: 100%;
      height: 100%;

      .leaflet-marker-pane {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
