.card-container {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px 2px 5px rgba(0, 0, 0, 0.1),
    0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: sandybrown;
}

.card {
  height: 50px;
  width: 100%;

  background-color: salmon;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boatcard-container {
}

.rivercard-container {
  margin: 1rem 0;
  padding: 1rem 2rem;

  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px 2px 5px rgba(0, 0, 0, 0.1),
    0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(252, 252, 252, 0.5);
  transition: all ease-in-out 0.4s;

  div:nth-of-type(1) {
    height: 100%;
    width: auto;
    padding: 1rem;

    color: black;
    font-size: 2rem;
    font-weight: 400;
    transition: all ease-in-out 0.2s;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div:nth-of-type(2) {
    span {
      font-size: 1.4rem;
      transition: all ease-in-out 0.2s;
    }
  }

  &:hover {
    background-color: rgba(252, 252, 252, 0.25);
    div:nth-of-type(1) {
      color: white;
      font-size: 2.25rem;
      font-weight: 500;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    div:nth-of-type(2) {
      span {
        font-size: 1.5rem;
        font-weight: 500;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
          -1px 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
