.card-container {
  margin: 1rem;
  padding: 1rem;
  background-color: sandybrown;
}

.card {
  height: 50px;
  width: 100%;
  background-color: salmon;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boatcard-container {
}
