.main-container {
  min-height: 100vh;
  width: 100%;
  position: relative;

  background: linear-gradient(
    45deg,
    rgba(220, 220, 220, 0.2) 0%,
    rgba(220, 220, 220, 0.1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  nav {
    height: 10vh;
    width: 100%;

    // border-bottom: 0.5px solid black;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .nav_content {
      height: 100%;
      width: 100%;
      max-width: 1280px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      section {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
      }
      section:nth-child(1) {
        justify-content: flex-start;
      }
      section:nth-child(2) {
        justify-content: center;

        h1 {
          font-size: 2.5rem;
        }
      }
      section:nth-child(3) {
        justify-content: flex-end;

        .nav_button {
          background: linear-gradient(
            45deg,
            rgba(2, 62, 138, 0.8) 0%,
            rgba(2, 62, 138, 0.5) 100%
          );
          &:hover {
            background: none;
            background-color: white;
          }
        }
      }
    }
  }

  .vis {
    min-height: 100vh;
    width: 100%;
    max-width: 1220px;
    overflow: hidden;
    z-index: 1;

    display: grid;
    grid-template-columns: 0.35fr 1fr 0.45fr;

    section {
      overflow: hidden;
      padding-top: 2rem;
    }
    #left_panel {
      grid-column: 1/2;
      padding-top: 5rem;
      overflow: hidden;

      border-left: 0.5px solid rgba(72, 202, 228, 0.8);
      border-right: 0.5px solid rgba(72, 202, 228, 0.8);
      background: linear-gradient(
        to bottom,
        rgba(173, 232, 244, 0.5) 0%,
        rgba(173, 232, 244, 0.2) 50%,
        rgba(173, 232, 244, 0.1) 100%
      );

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      img {
        height: 120px;
        width: 120px;
        margin: 2rem;
        overflow: hidden;

        border-radius: 50%;
        background-color: rgba(128, 128, 128, 0.247);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
      }

      hgroup {
        padding: 1rem;

        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      .left_panel--divider {
        height: 1px;
        width: 70%;
        margin: 3rem 0;

        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
      }

      nav {
        height: auto;
        width: 100%;
        padding: 0;

        border: none;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        button {
          height: 40px;
          width: 100%;
          margin: 0.2rem;
          padding-left: 33%;

          // color: black;
          color: rgba(0, 119, 182, 1);
          font-size: 2rem;
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
          font-weight: 600;
          text-align: left;
          font-variant-caps: all-small-caps;
          cursor: pointer;
          transition: all ease-in-out 0.2s;

          border: none;
          background: none;
          background-color: rgba(0, 0, 0, 0);

          &:hover {
            color: white;
            font-weight: 600;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            background-color: none;
            border-left: 4px solid rgba(2, 62, 138, 1);
            background: linear-gradient(
              to right,
              rgba(2, 62, 138, 1) 0%,
              rgba(2, 62, 138, 0.4) 20%,
              rgba(2, 62, 138, 0.2) 35%,
              rgba(2, 62, 138, 0) 100%
            );
          }
        }
      }
    }
    #center_panel {
      grid-column: 2/3;
      padding: 0;
      background: linear-gradient(
        180deg,
        rgba(202, 240, 248, 0.25) 0%,
        rgba(202, 240, 248, 0.15) 100%
      );

      display: flex;
      flex-direction: column;

      .banner-container {
        height: 350px;

        // background-color: rgba(0, 119, 182, 0.2);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: auto;
          width: 93%;

          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 12px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9),
            5px 5px 20px rgba(0, 0, 0, 0.1), -5px -5px 20px rgba(0, 0, 0, 0.1);
        }
      }
      .user_items {
        min-height: 200px;
        width: 100%;

        padding: 2rem 3rem;

        // background-color: salmon;
      }
    }
    #right_panel {
      grid-column: 3/4;

      border-left: 0.5px solid rgba(72, 202, 228, 0.8);
      border-right: 0.5px solid rgba(72, 202, 228, 0.8);
      background: linear-gradient(
        to bottom,
        rgba(173, 232, 244, 0.35) 0%,
        rgba(173, 232, 244, 0.1) 100%
      );
    }
  }

  footer {
    height: 30vh;
    width: 100%;
    padding: 4rem;

    border-bottom: 1px solid black;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }
}
