.main-container {
  min-height: 100vh;
  width: 100%;
  position: relative;

  background: linear-gradient(
    45deg,
    rgba(1, 42, 74, 1) 0%,
    rgba(1, 42, 74, 0.9) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  nav {
    height: 10vh;
    width: 100%;

    // border-bottom: 0.5px solid black;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .nav_content {
      height: 100%;
      width: 100%;
      max-width: 1420px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      section {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
      }
      section:nth-child(1) {
        justify-content: flex-start;
        h1 {
          margin: 0 5rem;
          font-size: 2.8rem;
        }
      }
      section:nth-child(2) {
        justify-content: center;
      }
      section:nth-child(3) {
        justify-content: flex-end;

        .nav_button {
          background: linear-gradient(
            45deg,
            rgba(1, 42, 74, 0.9) 0%,
            rgba(1, 42, 74, 0.7) 100%
          );
          &:hover {
            background: none;
            background-color: white;
          }
        }
      }
    }
  }

  .vis {
    min-height: 90vh;
    max-height: 120vh;
    width: 100%;
    max-width: 1220px;
    overflow: hidden;
    z-index: 1;

    display: grid;
    grid-template-columns: 0.35fr 1fr 0.45fr;
    // grid-template-rows: 90vh;

    section {
      overflow: hidden;
      padding-top: 2rem;
    }
    #left_panel {
      grid-column: 1/2;
      padding-top: 4rem;
      overflow: hidden;

      // border-left: 0.5px solid rgba(72, 202, 228, 0.8);
      border-right: 0.5px solid rgba(72, 202, 228, 0.8);
      background: linear-gradient(
        to right,
        rgba(1, 42, 74, 1) 0%,
        rgba(1, 42, 74, 1) 10%,
        rgba(173, 232, 244, 0.25) 100%
      );

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      img {
        height: 120px;
        width: 120px;
        margin: 2rem;
        overflow: hidden;

        border-radius: 50%;
        background-color: rgba(128, 128, 128, 0.247);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
          -2px 2px 5px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.3);
      }

      hgroup {
        padding: 1rem;

        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      .left_panel--divider {
        height: 1px;
        width: 70%;
        margin: 2rem 0;

        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
      }

      nav {
        height: auto;
        width: 100%;
        padding: 0;

        border: none;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a {
          width: 100%;

          button {
            height: 45px;
            width: 100%;
            margin: 0.2rem;
            padding: 0.2rem;
            // padding-left: 33%;

            // color: black;
            color: rgba(255, 255, 255, 1);
            font-size: 1.8rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
            font-weight: 600;
            text-align: left;
            // font-variant-caps: all-small-caps;
            cursor: pointer;
            transition: all ease-in-out 0.2s;

            border: none;
            background: none;
            background-color: rgba(0, 0, 0, 0);

            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
              height: 25px;
              width: 25px;
              margin: 0 2.5rem 0 4rem;
              transition: all ease-in-out 0.1s;
            }
            label {
              cursor: pointer;
            }

            &:hover {
              // color: rgba(255, 255, 255, 1);
              color: rgba(169, 214, 229, 1);
              // font-size: 2rem;
              // font-weight: 600;
              text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
              background-color: none;
              border: none;
              background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 60%,
                rgba(255, 255, 255, 0.4) 80%,
                rgba(255, 255, 255, 1) 100%
              );

              // svg {
              //   height: 30px;
              //   width: 30px;
              // }
            }
          }
        }
      }
    }
    #center_panel {
      grid-column: 2/3;
      height: 100%;
      width: calc(100% + 20px);
      padding: 0;
      position: relative;
      overflow-y: scroll;
      z-index: 1;
    }
    #right_panel {
      grid-column: 3/4;
      z-index: 2;

      border-left: 0.5px solid rgba(72, 202, 228, 0.8);
      // border-right: 0.5px solid rgba(72, 202, 228, 0.8);
      background: linear-gradient(
        to right,
        rgba(1, 42, 74, 1) 0%,
        rgba(1, 42, 74, 1) 10%,
        rgba(173, 232, 244, 0.25) 100%
      );

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      header {
        span {
          color: white;
          font-size: 1.5rem;
        }
      }

      div {
        height: auto;
        min-height: 150px;
        width: 90%;
        margin: 1rem 0;
        padding: 1rem;

        border: 0.5px solid rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
          -2px 2px 5px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.3);
        background: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 100%
        );

        h3 {
          color: white;
          text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 1);
        }
      }
    }
  }

  footer {
    height: 30vh;
    width: 100%;
    padding: 4rem;

    border-bottom: 1px solid black;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      45deg,
      rgba(40, 40, 40, 0.9) 0%,
      rgba(40, 40, 40, 0.7) 100%
    );
  }
}
