.friends-container {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;

  header {
    padding: 0;
    margin: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-of-type(1) {
      width: auto;
      // background-color: cadetblue;

      display: flex;
      justify-content: center;
      align-items: center;

      input {
        height: 37px;
        width: 200px;
        margin: 1rem;
        padding: 1rem;

        border-radius: 6px;
      }

      div {
        height: 37px;
        width: 40px;

        cursor: pointer;
        transition: all ease-in-out 0.2s;

        border: 1px solid white;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.6);

        img {
          height: 90%;
          width: 90%;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
}

.friendspagination-container {
  padding: 2rem;
}
