.boat-modal--container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-boat__img--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-boat__img--instruct {
    color:  black;
    font-size: 38px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
}
.create-boat__img-form--input {}
.create-boat__img-upload {
    width: 500px;
    background-color: goldenrod;
}
.boats__create {
    width: 50%;
    height: 240px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.create-boat__img-form {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    color: #023E8A;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.boat-sprite--container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-boat__input {
    width: 120px;
    height: 40px;
    margin: 5px 0 5px 0;
    border: 1px solid #023E8A;
    background-color: #CAF0F8;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

    /* width: 95%;
    height: 40px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #024e74;
    */
}
.create-boat__select {
	width: 90%;
	max-width: 80px;
    display: flex;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
    line-height: 1;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.create-boat__select--container {
    width: 80px;
    display: inlines;
}
.create-boat__select--container label {
    color: #023E8A;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.create-boat__button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid green;
    border-radius: 90px;
    box-shadow: 5px 5px 10px rgb(99, 91, 91);
    background-color:lightgreen;
    color: black;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.create-boat__button:hover {
    color: white;
    border: 6px solid rgb(4, 102, 4);
    background-color: green;
}
