.landing-root--container {
    width: 100%;
    height: auto;
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing__modals--container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__picture-box {
    width: 98%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-image: url(https://goboatnbucky.s3.us-east-2.amazonaws.com/roya-ann-miller-ojG9qrU_blw-unsplash.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(99, 91, 91);
    background-repeat: no-repeat;
    background-position-y: -150px;
}
.landing__profile-pic--container {
    width: 280px;
    min-width: 280px;
    height: 280px;
    min-height: 280px;
    position: relative;
    bottom: -280px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    box-shadow: 5px 5px 10px rgb(1, 1, 34);
    background-color: white;
    z-index: 2;
}
.landing__profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__profile-pic img {
    width: 93%;
    max-width: 1300px;
    height: auto;
    border: 1px solid black;
    border-radius: 180px;
    position: relative;
}
.landing__profile-edit--button {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    box-shadow: 5px 5px 10px rgb(1, 1, 34);
    background-color: white;
    cursor: not-allowed;
}
.landing__profile-edit--button:hover {
    background-color: rgb(136, 136, 221);
}
.landing__profile-edit--button svg {
    width: 25px;
    height: 25px;
    padding: 5px;
    fill:black;
}

.landing__banner-edit--button svg {
    width: 40px;
    height: 40px;
    padding: 7px;
    position: relative;
    top: -255px;
    left: 30px;
    /* right: 660px; */
    fill: white;
    border-radius: 180px;
    background-size: 200%;
    cursor: not-allowed;
}
.vita {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(119, 186, 231); */
}
.vita-topbox {
    width: 99%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}
.vita-bio--container {
    width: 100%;
    height: auto;
    min-height: 120px;
    padding: 0 10px;
    margin: 5px;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* border: 1px solid rgb(99, 91, 91); */
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(99, 91, 91);
    position: relative;
    overflow: hidden;
    background-color: white;
}
.vita-bio__textbox {
    width: 30%;
    height: 100%;
    margin: 10px;
    padding: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellowgreen; */
}
.vita-bio__name span {
    color:  #023E8A;
    font-size: 38px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
}
.vita-bio__username span {}
.vita-bio__email span {}
.vita-bio__infobox {
    width: 40%;
    height: 100%;
    margin: 10px;
    padding: 30px;
    overflow: hidden;
    /* background-color: teal; */
}
.vita-bio__flairbox {
    width: 20%;
    height: 100%;
    margin: 10px;
    padding: 30px;
    overflow: hidden;
    /* background-color: thistle; */
}
.vita-bottombox {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    scrollbar-width: none;
}
.vita-bottombox__cards-c {
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(99, 91, 91);
    position: relative;
    overflow: hidden;
    background-color: white;
}
.vita-card__divider {
    width: 0;
    height: 70%;
    margin: 20px 0 0 0;
    border: 1px solid gray;
    border-radius: 100%;
}
.vita-card {
    width: 30%;
    height: auto;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: turquoise; */
}
.vita-card__header {
    color:  rgb(41, 40, 40);
    font-size: 24px;
    font-style: italic;
    font-family: 'Epilogue', sans-serif;

}
.vita-invite--container {}
.vita-trip--container {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.vita-friends--container {}

/*~~~ MODAL CONTROLS ~~~*/
.landing-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.landing-modal--background {
    width: 90%;
    height: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(161, 216, 238);
    scrollbar-width: none;
    scrollbar-height: none;
}
.banner-edit__container--hidden {
    visibility: hidden;
}
.banner-edit__container--visible {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
}
.banner-edit__container--visible span {
    margin: 10px;
}
.banner-edit__container--visible input {
    margin: 10px;
}
.profile-edit__container--hidden {
    visibility: hidden;
}
.profile-edit__container--visible {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
}
.profile-edit__container--visible input {
    margin: 10px;
    font-weight: 600;
}
.landing-modal__upload--button {
    width: 100px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #023E8A;
    border-radius: 90px;
    background-color: #42f76f;
    cursor: pointer;
}
.custom-file-upload {
    width: 200px;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #023E8A;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.hidden {
    display: none;
}
