.main-root--container {
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: static;
    scrollbar-width: none;
}
.main--container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}
.main__header {
    width: 100vw;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
    z-index: 1;
}
.main-header__left {
    width: 50px;
    height: 100%;
    z-index: 1;
}
.main-header__bulk {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.main-header__switch-board {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-header__button {
    width: 140px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
#main-header__button--six:hover {
    background-color: rgb(114, 52, 52);
}
.main-header__button:hover {
    background-color:#03045E;
}
.main-header__button span {
    color: black;
    font-size: 16px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
}
.main-header__button:hover span {
    color: white;
}
.main-switch-board__graf-c {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px 0 60px;
}
.main-switch-board__graf-c {
    color: #03045E;
    font-size: 34px;
    font-family: 'Shrikhand', cursive;
}
.main-switch__graf--odd {
    color: rgb(143, 226, 143);
}
.main-switch-board__divider {
    width: 0;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 50% 50% 50% 50%;
}
.main-header__right {
    width: 50px;
    height: 100%;
    z-index: 1;
}
.main__body {
    width: 100%;
    height: 100%;
}
.main__body--elements {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.main__caput {
    width: 68%;
    height: auto;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    /* box-shadow: 15px 15px 10px rgb(99, 91, 91); */
}
.main__caput--switch {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.main__vita {
    width: 28%;
    max-width: 480px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 5px solid rgb(14, 95, 122);
    border-radius: 50px;
    background-color: rgb(119, 186, 231);
    box-shadow: 15px 15px 10px rgb(99, 91, 91);
    position: static;
}
.vita__profile-pic--container {
    width: 350px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    box-shadow: 8px 8px 20px rgb(1, 1, 34);
    background-color: rgb(51, 76, 145);
}
.vita__profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vita__profile-pic img {
    width: 90%;
    max-width: 1300px;
    height: auto;
    border: 1px solid black;
    border-radius: 180px;
    position: relative;
}
.vita-bio--container {
    width: 85%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 20px black;
    position: relative;
    overflow: hidden;
    background-color: burlywood;
}
.vita-bio--container div {
    margin: 5px 0 5px 20px;
}
.vita-bio--container span {
    color: blue;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.main__body--footer {}
.main__footer {
    width: 100%;
    height: 200px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #aae6f1;
    scrollbar-width: none;
}
