.main-root--container {
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: static;
    scrollbar-width: none;
}
.main--container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}
.main__header {
    width: 100vw;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
    z-index: 1;
}
.main-header__left {
    width: 8%;
    height: 100%;
    z-index: 1;
}
.main-header__bulk {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.main-header__switch-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-header__button {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    cursor: pointer;
}
#main-header__button--six:hover {
    background-color: rgb(114, 52, 52);
}
.main-header__button:hover {
    background-color:#03045E;
}
.main-header__button span {
    color: black;
    font-size: 16px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
}
.main-header__button:hover span {
    color: white;
}
.main-switch-board__graf-c {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px 0 60px;
}
.main-switch-board__graf-c {
    color: #03045E;
    font-size: 34px;
    font-family: 'Shrikhand', cursive;
}
.main-switch__graf--odd {
    color: rgb(143, 226, 143);
}
.main-switch-board__divider {
    width: 0;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 50% 50% 50% 50%;
}
.main-header__right {
    width: 8%;
    height: 100%;
    z-index: 1;
}
.main__body {
    width: 100%;
    height: 100%;
}
.main__body--elements {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.main__caput {
    width: 60%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: rgb(191, 191, 241);
    box-shadow: 15px 15px 10px rgb(99, 91, 91);
}
.main__caput--switch {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.main__vita {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
    background-color: rgb(14, 95, 122);
    box-shadow: 15px 15px 10px rgb(99, 91, 91);
    position: static;
}
.vita__profile-pic {
    width: 70%;
    height: auto;
    border: 3px solid blue;
    border-radius: 180px;
    box-shadow: 8px 8px 20px rgb(1, 1, 34);
    background-color: blue;
    position: relative;
    top: -5%;
    z-index: 0;
}
.vita__profile-pic img {
    max-width: 100%;
    position: relative;
    border-radius: 180px;
}
.vita-bio--container {
    width: 85%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 20px black;
    position: relative;
    /* top: -240px; */
    background-color: burlywood;
}
.vita-bio--container div {
    margin: 5px 0 5px 20px;
}
.vita-bio--container span {
    color: blue;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.main__body--footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #9edfec;
    scrollbar-width: none;
}
