.profile-root--container {
    width: 100%;
    height: auto;
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: static;
}
.profile {}
