.rivers-root--container {
    width: 100%;
    height: auto;
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: static;
}
.rivers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rivers__search-bar--container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
}
.rivers__search-bar {
    width: 60%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 30%;
    /* border: 3px solid #023E8A;
    box-shadow: 5px 5px 5px #024e74; */
    background-color: rgb(163, 199, 240);
}
.rivers__search-bar--input {
    width: 95%;
    height: 40px;
    max-width: 300px;
    margin: 0 15px 0 15px;
    border: 3px solid #023E8A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #024e74;
    background-color: white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;}
.rivers__search-bar--button {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
    border: 3px solid #023E8A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #024e74;
    background-color: #CAF0F8;
    overflow: hidden;
    cursor: pointer;
}
.rivers__search-bar--button img {
    width: 100%;
    height: 100%;
}
.rivers__search-bar--button:hover {
    background-color: rgb(170, 87, 87);
}
.rivers__cards-container {
    width: 75%;
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid#023E8A; */
    border-radius: 50px;
    background-color:  white;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
}
.rivers__cards {
    width: 90%;
    height: 90%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
