.riverCard-root--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: static;
}
.riverCard {
    width: 90%;
    height: 100px;
    min-width: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    border: 3px solid #024e74;
    border-radius: 15px;
    background-color: rgb(209, 209, 245);
}
.riverCard__sidebox {
    width: 40%;
    height: 100px;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}
.riverCard__text-container {
    width: 60%;
    height: 100px;
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 15px 15px 0;
}
.riverCard__name {
    color: black;
    font-size: 34px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}
.riverCard__info-container {
    width: auto;
    height: 35px;
    margin-left: 15px;
    display: flex;
}
.riverCard__info--class {
    width: auto;
    height: 95%;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-end;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}
#riverCard__info--region-header {
    color: rgb(54, 50, 50);
    font-size: 16px;
}
#riverCard__info--region {
    margin-left: 10px;
    font-size: 24px;
}
