.signup-root--container {
}
.signup__center--main {
    width: 500px;
    height: 600px;
    min-width: 450px;
    background-color: #0077B6;
    border-radius: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.699);
}
.signup__form--container {
    width: 90%;
    height: 78%;
    background-color: #48CAE4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px #024e74;
}
.signup__form--close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.signup__form--close-button img {
    cursor: pointer;
}
.signup__form--close-button img:hover {
    border: 3px solid #024e74;
    border-radius: 5px;
}
.signup__form--signup-c {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(125, 78, 235); */
}
.signup__form--signup-c span {
    color: #023E8A;
    font-size: calc(20px + 1vw);
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.signup__inputs {
    width: 95%;
    height: 40px;
    max-width: 300px;
    margin: 5px 0 5px 0;
    border: 3px solid #023E8A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #024e74;
    background-color: #CAF0F8;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.signup__button-c {
    width: 90%;
    height: 40px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #023E8A;
    border-radius: 90px;
    background-color: #CAF0F8;
    box-shadow: 5px 5px 5px #024e74;
    cursor: pointer;
}
.signup__button-c:hover {
    background-color: #023E8A;
}
.signup__button span {
    font-weight: 900;
    font-size: 24px;
}
.signup__button-c:hover span {
    color: white;
}
.signup__divider {
    width: 70%;
    height: 0;
    margin: 10px 0 10px 0;
    border: 1px solid #023E8A;
    border-radius: 100%;
}
