.splash-root--container {
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: static;
}
.splash--container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/jpg/josh-wedgwood-river-etive-unsplash.jpg);
    background-size: cover;
}
.splash__margin {}
.splash__center--logo {
    width: 470px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #0077B6;
    margin-top: -30%;
    margin-bottom: 20%;
}
.splash__logo {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #48CAE4;
}
.splash__logo {
    color: #03045E;
    font-size: 48px;
    font-family: 'Shrikhand', cursive;
}
.splash__logo img {
    margin-left: 20px;
}
.splash__logo--odd {
    color: white;
}
.splash__center--main {
    width: 470px;
    height: 420px;
    min-width: 400px;
    background-color: #0077B6;
    border-radius: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.699);
}
.splash__form--container {
    width: 90%;
    height: 70%;
    background-color: #48CAE4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px #024e74;

}
.splash__form--login-c {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(125, 78, 235); */
}
.splash__form--login-c span {
    color: #023E8A;
    font-size: calc(20px + 1vw);
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.splash__inputs {
    width: 95%;
    height: 40px;
    max-width: 300px;
    margin: 5px 0 5px 0;
    border: 3px solid #023E8A;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #024e74;
    background-color: #CAF0F8;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.splash__button-c {
    width: 90%;
    height: 40px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    border: 3px solid #023E8A;
    border-radius: 90px;
    background-color: #CAF0F8;
    box-shadow: 5px 5px 5px #024e74;
    cursor: pointer;
}
.splash__button-c:hover {
    background-color: #023E8A;
}
.splash__button span {
    font-weight: 900;
    font-size: 24px;
}
.splash__button-c:hover span {
    color: white;
}
.splash__divider {
    width: 70%;
    height: 0;
    margin: 20px 0 0 0;
    border: 1px solid #023E8A;
    border-radius: 100%;
}
.splash__center--credit-c {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -200px;
}
.splash__center--credit span {
    color: #023E8A;
    margin: 15px;
    font-family: 'Raleway', sans-serif;
}
.signup-modal--hidden {
    visibility: hidden;
    position: fixed;
}
.signup-modal--visible {
    position: fixed;
}
.signup--container {
    width: 500px;
    height: 600px;
}
