.tripCard-root--container {
    width: 80%;
    height: 60px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.tripCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 221, 214);
}
.tripCard__sidebox {}
.tripCard__text-container {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tripCard__name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tripCard__info--container {}
.tripCard__info--class {}
