.trippage-root--container {
    width: 100%;
    height: auto;
    scrollbar-width: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.trippage {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
    overflow: hidden;
    background-color: white;

}
.trippage__topbox {
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.trippage__infobox {
    width: auto;
    height: auto;
    padding: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid #0077B6;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
    background-color: #48CAE4;
}
.trippage--name-c {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.trippage__tripname {
    width: auto;
    height: 95%;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    color: black;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Libre Franklin', sans-serif;
}
.trippage__infotext--container {
    width: auto;
    height: auto;
    margin-bottom: 15px;
}
.trippage--region-c {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 5px solid peru;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
    background-color: rgb(240, 217, 186); */
}
.trippage__region {
    width: auto;
    height: 95%;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-end;
    /* overflow: hidden; */
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}
.trippage__region span:nth-child(1) {
    font-size: 14px;
    padding-right: 5px;
}
.trippage__access-c {
    width: auto;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.trippage__access {
    width: 98%;
    height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}
.trippage__access span:nth-child(2) {
    font-size: 18px;
    padding: 3px;
    margin-bottom: 3px;
}
.trippage__access span:nth-child(4) {
    font-size: 18px;
    padding: 3px;
    margin-bottom: 3px;
}
.trippage__details-c {
    width: auto;
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: greenyellow; */
}
.trippage__details {
    width: 98%;
    height: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-size: 18x;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    /* background-color: green; */
}
.trippage__date {
    margin: 5px 0;
}
.trippage__date span {
    margin-right: 3px;
}
.trippage__date-value span:nth-child(1) {
    font-size: 20px;
}
.trippage__date-value span:nth-child(2) {
    font-size: 22px;
    margin: 5px 10px;
}
.trippage__date-value span:nth-child(3) {
    font-size: 20px;
    margin-right: 5px;
}
.trippage__time {
    display: flex;
    flex-direction: column;
}
.trippage__time span:nth-child(2) {
    font-size: 20px;
}
.trippage__icon--container {
    width: 98%;
    height: 100%;
    min-height: 100px;
    margin-top: 30px;
    border: 5px solid peru;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
    background-color: rgb(240, 217, 186);
}
.trippage__map-container {
    width: 600px;
    height: 400px;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
    overflow: hidden;
}
.leaflet-container {
    width: 100%;
    height: 100%;
}
.leaflet-pane {
    width: 100%;
    height: 100%;
    position: static;
}
.trippage-body {
    width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
    /* overflow: hidden; */
    /* background-color: hotpink; */
}
.trippage-bottombox {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    scrollbar-width: none;
}
.trippage-bottombox__cards-c {
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    /* box-shadow: 5px 5px 10px rgb(99, 91, 91); */
    position: relative;
    overflow: hidden;
    background-color: white;
}
.trippage-card__divider {
    width: 0;
    height: 70%;
    margin: 20px 0 0 0;
    border: 1px solid gray;
    border-radius: 100%;
}
.trippage-card {
    width: 30%;
    height: auto;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: turquoise; */
}
.trippage-card__header {
    color:  rgb(41, 40, 40);
    font-size: 24px;
    font-style: italic;
    font-family: 'Epilogue', sans-serif;

}
.trippage-boater--container {}
.trippage-user--container {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.trippage-friends--container {}



.trippage-body__access--textbox {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.trippage-body__access--textbox:first-child {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}
.trippage-body__trip-c {
    width: 80%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.trippage-body__trip {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.trippage-body__infobox {
    width: 50%;
    height: auto;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}
.trippage-body__infobox--trip-leader{
    padding: 20px;
    margin: 8px;
    display: flex;
    border: 5px solid  #023E8A;
    border-radius: 10px;
    justify-content: space-around;
}
.trippage-body__infobox--trip-time-c {
    padding: 20px;
    margin: 8px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 5px solid  #023E8A;
    border-radius: 10px;
    justify-content: space-around;
}
.trippage-body__time-inputs-c {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}
#trippage-body__trip-time-edit {
    width: 100px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #023E8A;
    border-radius: 10px;
    background-color: #48CAE4;
}




/* .trippage-body__trip--button {
    width: 90%;
    height: 40px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    border: 3px solid #023E8A;
    border-radius: 90px;
    background-color: #75b680;
    box-shadow: 10px 10px 10px rgb(99, 91, 91);
    cursor: pointer;
    font-weight: 900;
    font-size: 24px;
}
.trippage-body__trip--button:hover {
    background-color: #1a992f;
    color: white;
} */
