.tripCard-root--container {
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.tripCard {
    width: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20%;
    background-color: rgb(226, 241, 240);
}
.tripCard__sidebox {}
.tripCard__text-container {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Epilogue', sans-serif;
}
.tripCard__name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tripCard__time {
    width: auto;
    height: auto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;

}
.tripCard__info--container {}
.tripCard__info--class {}
